# store file as .env locally for development
APP_DOMAIN=localhost
WS_DOMAIN=localhost:8080
ACME_EMAIL=admin@yourdomain.com

APP_NAME="Local Test No SSL"
APP_ENV=local
APP_DEBUG=true
# needed for frankenPHP, Caddy to not use https
SERVER_NAME=:80
# Change to your domain, make sure to include https!
APP_URL=http://localhost
# Generate a new key with `php artisan key:generate`
APP_KEY=<fill in your key here>

# Do not leave this empty, set to a valid email address, otherwise
# you risk a ban from the EVE Online API
CONTACT_EMAIL="yourmail@yourdomain.com | Your Name"

DB_CONNECTION=mysql
# set host to 'db' or 'localhost' if not using Docker
DB_HOST=mysql
DB_PORT=3306
# Make sure to set these to the same as in other .env files
DB_DATABASE=wormholesystems
DB_USERNAME=wormholesystems
DB_PASSWORD=<fill in your password here>

# Reverb application detail: Create long random strings for these
REVERB_APP_ID=<fill in your app id here>
REVERB_APP_KEY=<fill in your app key here>
REVERB_APP_SECRET=<fill in your app secret here>

# Reverb connection for the client, this is what your users will connect to, change to your domain
# and compare this with other .env files
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="localhost"
VITE_REVERB_PORT="8080"
VITE_REVERB_SCHEME="http"

# Eve specific settings, create an application in EVE developer portal and set these
EVE_CLIENT_ID=<fill in your client id here>
EVE_CLIENT_SECRET=<fill in your client secret here>
EVE_CALLBACK="${APP_URL}/eve/callback"

# Client side reverb connection, this is what your users will connect to, change to your domain
REVERB_HOST=reverb
REVERB_PORT=8080
REVERB_SCHEME=http

# Reverb server bind host for internal Docker networking
REVERB_SERVER_HOST=0.0.0.0

# Laravel specific settings, you probably don't need to change these
APP_USER_AGENT="${APP_NAME}} | ${APP_URL}} | contact: ${CONTACT_EMAIL}}"

SESSION_DRIVER=database
SESSION_ENCRYPT=false
SESSION_LIFETIME=120
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=redis
CACHE_PREFIX=ws_

MEMCACHED_HOST=127.0.0.1

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

VITE_APP_NAME="${APP_NAME}"
